/*universals*/
html {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
}


/*header*/



/*  Calculator container */
#container {
    margin: 10% 20%;
    border: 2px solid black;
    background-color: rgb(197, 197, 197) ;
    height: 500px;
    width: 320px;
}


/* Top section */

#calculator_top {
    display: flex;
}

h2 {
    font-size: 1.4rem;
    margin-left: 8px;

}

p {
    padding: 5px;
    margin-left: 8px;
    font-size: 0.8rem;
}

/*Labelling */
h2 {
    font-size: 1.4rem;
    margin-left: 8px;

}

p {
    padding: 5px;
    margin-left: 8px;
    font-size: 0.8rem;
}

/*Solar Panels*/
#solar_panels {
    display: inline;
    padding: 10px;
}



/*Screen*/
input {
    font-size: 1.4em;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 4px;
    
}


/* Bottom section */



/*Left buttons */

.c_button {
    padding: 18px;
    background-color: #88505d;
    border-radius: 8%;
    font-size: 1.4rem;
    margin-left: 5px;
    margin-top: 5px;;

}

.c_button:hover{
    background-color: red;
}

.left_buttons {
    padding: 20px;
    background-color: #424041;
    color: #cfcfd1;
    border-radius: 8%;
    font-size: 1rem;
    margin: 5px;
    

}

.left_buttons:hover{
    background-color: red;
}

#nine {
    margin-left: 10%;
}

/* Right buttons */


.right_buttons {
    padding: 18px;
    background-color: #d1d2cc;
    color: black;
    border-radius: 8%;
    font-size: 1.2rem;
    margin: 5px;
}

#dot {
    padding-right: 25px;
}

.right_buttons:hover{
    background-color: red;
}

.equal_button {
    padding: 20px;
    background-color: #0b0bdd;
    color: #e5e5f0;
    border-radius: 8%;
    font-size: 1rem;
    margin: 5px;
    
}

.equal_button:hover {
    background-color: red;
}